/* src/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, var(--bg-opacity));
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #a0aec0;
}

[x-cloak] {
  display: none;
}
